* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0 !important;
    background: #e7e7e7 !important;
}
header {
    width: 100%;
    margin: 0 !important;
    padding: 1rem 0 0 0  !important;
    background: #fff159 ;
    position: sticky !important;
}
 header img {
    height: 8rem !important;
    width: 8rem !important;
    padding-bottom: .5rem;
}
header h1 {
    margin: 0 !important;
} 
h1 {
    font-family:'Times New Roman', Times, serif;
}
h1 span {
    color: orangered;
    font-weight: 900;
    font-family: cursive !important;
}
nav.navbar{
    background: #fff159 !important; 
    width: 100%;
    border-top: 2px solid #808487 !important;
    font-weight: bold;
    height: 30%;
}
.nav-link.active{
    background: linear-gradient(to bottom, rgb(150, 150, 150), white 70%);
    border-radius: 20px;
    color: cornflowerblue !important;
}
.nav-link {
    padding-left: .5rem !important;
    width: 10rem !important;
    text-align: center;
}
.navbar-collapse {
    margin-top: .5rem !important;
}
 main {
    /* min-height: 65vh !important; */
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
   /*  min-height: 70vh; */
} 
#section2 {
    margin-top: 1rem !important;
}
form{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

p{
    margin: 0 !important;
    padding: 2rem 1rem 0 2rem !important;
    width: 100%;
}
.row.row-cols-sm-1{
    margin-left: 1rem;
}
h5{
font-size: 1rem;
text-align: center;
background: black;
color: white;
}
#carrito{
    height: 3rem !important;
    width: 3rem !important;
}
.index{
    font-size: 1.2rem !important;
    color: white;
    font-weight: 900;

}
img.d-block.w-100{
    height: 25rem !important;
}
p.cardTemple{
    text-align: center;
    padding-bottom: .5rem !important;
}
div.col-lg-6{
    padding:  1rem;
}
p.col-12.direccion{
    text-align: center;
    font-weight: 900;
    margin-bottom: 1rem !important;
}
h4.col-12.h4{
    text-align: center;
    margin-top: 1rem !important;
    font-size: 2rem;
}
p.col-12.nosotros{
    font-size: 1.5rem !important;
}
h2{
    font-size: 3rem!important;
    text-align: center;
    margin-top: 1rem !important;
}

footer{
    min-height: 10vh;
    width: 100%;
    background: #e7e7e7 ;
    border-top: 2px solid #808487 !important;
    margin: 0 !important;
   /*  min-height: 4.3rem; */
    padding: 0 !important;
    margin-top: 1.5rem !important;
}
#pie{
    border-right: 2px solid black !important;
}
p#pie, p.pie{
    font-size: 1.5rem !important;
    color: black;
    padding-bottom: 1rem !important;
    /* margin-bottom: 1rem !important; */
}

#cardsVenta:hover {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    box-shadow: 0px 0px 15px 15px #53a7ea;;
-webkit-box-shadow: 0px 0px 15px 15px #53a7ea;
}
form{
    background:rgb(179, 231, 238)  ;
}
