* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    padding: 0 !important;
    background: #e7e7e7 !important;
} */
header {
    width: 100%;
    margin: 0 !important;
    padding: 1rem 0 0 0  !important;
    background: #fff159 ;
    position: sticky !important;
}
 /* header img {
    height: 8rem;
    width: 8rem;
    padding-bottom: .5rem;
} */
header h1 {
    margin: 0 !important;
} 
h1 {
    font-family:'Times New Roman', Times, serif;
}
h1 span {
    color: orangered;
    font-weight: 900;
    font-family: cursive !important;
}
nav.navbar{
    background: #fff159 !important; 
    width: 100%;
    border-top: 2px solid #808487;
    font-weight: bold;
    height: 30%;
}
/* .nav-link.active{
    background: none;
    color: cornflowerblue !important;
} */
.nav-link {
    padding-left: .5rem !important;
    width: 10rem !important;
    text-align: center;
}
.navbar-collapse {
    margin-top: .5rem !important;
}
 main {
    /* min-height: 65vh !important; */
    padding: 100px 0px 0px 0px !important;    
    width: 100% !important;
    margin: 0 !important;
   /*  min-height: 70vh; */
} 

form{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

p{
    margin: 0 !important;
    padding: 2rem 1rem 0 2rem !important;
    width: 100%;
}
.row.row-cols-sm-1{
    margin-left: 1rem;
}
h5{
font-size: 1rem;
text-align: center;
background: black;
color: white;
}
#carrito{
    height: 3rem !important;
    width: 3rem !important;
}
.index{
    font-size: 1.2rem !important;
    color: white;
    font-weight: 900;

}
img.d-block.w-100{
    height: 25rem !important;
}
p.cardTemple{
    text-align: center;
    padding-bottom: .5rem !important;
}
div.col-lg-6{
    padding:  1rem;
}
p.col-12.direccion{
    text-align: center;
    font-weight: 900;
    margin-bottom: 1rem !important;
}
h4.col-12.h4{
    text-align: center;
    margin-top: 1rem !important;
    font-size: 2rem;
}
p.col-12.nosotros{
    font-size: 1.2rem !important;
}
h2{
    font-size: 3rem!important;
    text-align: center;
    margin-top: 1rem !important;
}

footer{
    min-height: 10vh;
    width: 100%;
    background: #e7e7e7 ;
    border-top: 2px solid #808487;
    margin: 0 !important;
   /*  min-height: 4.3rem; */
    padding: 0 !important;
    margin-top: 1.5rem !important;
}
#pie{
    border-right: 2px solid black !important;
}
p#pie, p.pie{
    font-size: 1rem !important;
    color: black;
    padding-bottom: 1rem !important;
    /* margin-bottom: 1rem !important; */
}

#cardsVenta:hover {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    box-shadow: 0px 0px 5px 5px #53a7ea;;
-webkit-box-shadow: 0px 0px 5px 5px #53a7ea;

}

form{
    background:rgb(179, 231, 238)  ;
}
iframe{
    border-radius: 20px;
    box-shadow: 0px 0px 15px 15px #53a7ea;;
    -webkit-box-shadow: 0px 0px 15px 15px #53a7ea;
    margin-top: .5rem;
}
.cardDescripcion{
    display: none;
}

/* CODIGO LUZ */
body {
    padding: 0px!important;    
    background:white;
}
:root{
    --main-color-primary2: #ffce1f!important;
    --main-color-primary3: #a81f76!important;
    --main-color-primary1: #01d0d5!important;
    
    --font-family-primary: 'Montserrat', arial, sans-serif!important;
    --font-family-secondary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;;    
}
header img {   
    width: 10%!important;
    padding-bottom: .5rem;    
}
nav.navbar{
    background: var(--main-color-primary1)!important;
    border-top: 2px solid var(--main-color-primary3)!important;
}

.icons{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
}
.icons div{
    padding: 10px;
}
.icons div:hover{
    background: var(--main-color-primary1);
    border-radius: 50%;    
}
h1{
    
    font-weight: bold;
}
footer{
    background: var(--main-color-primary1);
    border-top: 5px solid var(--main-color-primary3)!important;
    margin-top: 150px!important;
}
#cardsVenta:hover {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    box-shadow: 0px 0px 15px 15px var(--main-color-primary2);
    -webkit-box-shadow: 10px 5px 5px 0px var(--main-color-primary2);
}
.btn-primary{
    background: var(--main-color-primary1)!important;
    border-color: var(--main-color-primary1)!important;
}
.btn-primary:hover{
    background: var(--main-color-primary2)!important;
    border-color: var(--main-color-primary2)!important;
    color: var(--main-color-primary3);    
}
.btn-primary:link{
    outline: var(--main-color-primary3)!important;    
    border: var(--main-color-primary3)!important;
}
h5{
    background: white;
    color: var(--main-color-primary3);
    font-size: 1.3rem;
}
.nav-link.active{
    background: var(--main-color-primary2)!important;
    border-radius: 20px;
    color: var(--main-color-primary3)!important;
}
a{
    background: none!important;
    color: var(--main-color-primary3)!important;
}
a:hover{
    background: var(--main-color-primary2)!important;  
    border-radius: 20px;  
}
header{
    background: var(--main-color-primary2);
}
ul.dropdown-menu.show{
    background: var(--main-color-primary1)!important;
}
h1{
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: bold!important;
    font-size: 3rem!important;
    text-align: center;
    color: var(--main-color-primary3);
}
h2{
    font-size: 1.2rem!important;
    text-align: left;
    padding-left: 40px;
}
h3{
    font-size: 1.8rem!important;
    text-align: center;
   
}
iframe{
    border-radius: 20px;
    box-shadow: 0px 0px 15px 15px var(--main-color-primary2);
    -webkit-box-shadow: 10px 5px 5px 0px var(--main-color-primary2);
    margin-top: .5rem;
    width: 80%!important;
}
.row col-12{
    display: flex;
}
p.cardTemple{
    text-align: center;
    padding-bottom: .5rem !important;    
}
p{
    margin: 0 !important;
    padding: 2rem 1rem 0 2rem !important;
    width: 100%;    
}
.p{
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--main-color-primary1);
}
.pesos{
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--main-color-primary1);
}

#section-uno div{
    margin: 50px 0px;     
}
#section-uno{
    display: flex;
    justify-content: center;
}
.veni{
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: bold!important;
    font-size: 3rem!important;
    text-align: center;
    color: var(--main-color-primary3);
    
}
.veni-mapa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.bannerUno{
    width: 100%!important;
    padding: 50px 50px;
    background: var(--main-color-primary1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.icon-banner{
    display: flex;
    justify-content: space-evenly;
}
.bannerUno i{
   font-size: 50px;
   text-align: right;
}
.bannerUno p{
    padding: 0px 0px 0px 10px!important;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
 }
 .bannerUno div{
    padding: 20px;
 }
 .quienes-somos{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-basis: 70%;
 }
 .quienes-somos p{
     text-align: left;
     font-size: 1.15rem;
 }
.quienes-somos img{
    display: flex;
    max-width: 200px;
}
.quienes-somos h2{
    font-size: 2rem!important;
    border-left: 5px solid var(--main-color-primary3);
}
#btn-wapp{
    position: fixed;
    width: 65px;
    height: 65px;
    line-height: 50px;    
    bottom: 30px;
    right: 30px;
    background: var(--main-color-primary1);
    border-radius: 50%;
    border: 5px solid var(--main-color-primary2);
    text-align: center;
    font-size: 2rem;
    color: white;
}

#staticBackdropLabel{
    background: var(--main-color-primary1);
    color: black;    
}
.modal-header{
    background: var(--main-color-primary1);
}
.modal-body th{
    color: var(--main-color-primary3);    
}
#btn-mas{
    background: var(--main-color-primary1);
    text-align: center;
    font-weight: bold;
    border: none;
}
#btn-menos{
    background: var(--main-color-primary2);
    text-align: center;
    font-weight: bold;
    color: black;
    border: none;
}
/* Brian Cuenca styles start */

.image-effect {
    max-width: 100%;
    height: 70vh;
}

.m-0-a {
    margin: 0 auto;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.j-c {
    justify-content: center;
}

/* concato inputs */

.inputErr {
    background-color: rgb(235, 107, 149)!important;
    color: white!important;
}
/* Brian Cuenca styles end */
